POSTGRES_USER=userdb
POSTGRES_PASSWORD=passdb
POSTGRES_DB=geodatabase
BACKEND_PORT=8000
VITE_BACKEND_URL=http://localhost:8000
CORS_ALLOW_ORIGIN=*
IMPORT_MIN_LAT=44.78
IMPORT_MIN_LON=-0.65
IMPORT_MAX_LAT=44.92
IMPORT_MAX_LON=-0.50
