# Backend
backend/__pycache__/
backend/vendor/
backend/var/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.svelte-kit/

# Data
*.geojson

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Temp
frontend-old/
